* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main{

}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
  float: left;
}
.shape2 {
  width: 50px;
  height: 100px;
  background-color: blue;
  margin: 50px 150px;
}
