body {
  margin-top: 25px;
  margin-right: 90px;
  margin-left: 90px;
  margin-bottom:25px;
  font-family: 'Lora', serif;
  background: #f2f2f2;
  line-height: 1.8;
}
a {color: #42912c;}
a:hover {color: #17521f}
